<<<<<<< HEAD
body {
    margin: 0;
    font: 10pt Verdana;

}
.header {
    border-bottom: 1px solid rgb(0, 174, 255);
  }

.topnav {
    overflow: hidden;
    background-color: white;
    text-align: right;

}

.topnav a.logo {
    float: left;
}

.topnav a {
    display: inline-block;
    color: black;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: right;
}

.topnav a:hover {
    color: blue;
}

.topnav a.active {
    color: blue;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 719px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 719px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .topnav.responsive a.nav-logo {
        text-align: left;
    }
}

.nav-logo {
    color: #482ff7;
    float: left;
    padding-right: 5px;
    
}

.button1 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background: white;
    border: 2px solid blue;
    color: blue;
    font-size: 15px;
    transition: 0.2s ease;
    cursor: pointer;
}

.button1:hover {
    color: white;
    background-color: blue;
}

.button2 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background: blue;
    border: 2px solid blue;
    color: white;
    font-size: 15px;
    transition: 0.2s ease;
    cursor: pointer;
}

.button2:hover {
    color: rgb(27, 23, 245);
    background-color: white;
}
.tag {
    font-weight: 500;
    text-align: center;
    padding: 30px;
    font-size: 20px;
  }
  .html-icon {
    float: left;
  }
  
  .linux-icon {
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .wordpress-icon {
    float: right;
  }
  .legal {
    width: 100%;
    text-align: center;
    color: black;
    background: white;
    font-size: 10pt;
    line-height: 1.6em;
    padding: 10px 10px 30px 10px;
  }
  
  footer {
    border-top: 1px solid rgb(0, 174, 255);
    background: white;
    padding: 1rem 1.5rem;
  }
  main {
    width: 100%;
    background: white;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
=======
body {
  margin: 0;
  font: 10pt Verdana;

}

.header {
  border-bottom: 1px solid rgb(0, 174, 255);
}

.topnav {
  overflow: hidden;
  background-color: white;
  text-align: right;

}

.topnav a.logo {
  float: left;
}

.topnav a {
  display: inline-block;
  color: black;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: right;
}

.topnav a:hover {
  color: blue;
}

.topnav a.active {
  color: blue;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 719px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 719px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .topnav.responsive a.nav-logo {
    text-align: left;
  }
}

.nav-logo {
  color: #482ff7;
  float: left;
  padding-right: 5px;

}

.button1 {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  background: white;
  border: 2px solid blue;
  color: blue;
  font-size: 15px;
  transition: 0.2s ease;
  cursor: pointer;
}

.button1:hover {
  color: white;
  background-color: blue;
}

.button2 {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  background: blue;
  border: 2px solid blue;
  color: white;
  font-size: 15px;
  transition: 0.2s ease;
  cursor: pointer;
}

.button2:hover {
  color: rgb(27, 23, 245);
  background-color: white;
}

.tag {
  font-weight: 500;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

.html-icon {
  float: left;
}

.linux-icon {
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wordpress-icon {
  float: right;
}

.legal {
  width: 100%;
  text-align: center;
  color: black;
  background: white;
  font-size: 10pt;
  line-height: 1.6em;
  padding: 10px 10px 30px 10px;
}

footer {
  border-top: 1px solid rgb(0, 174, 255);
  background: white;
  padding: 1rem 1.5rem;
}

main {
  width: 100%;
  background: white;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
>>>>>>> 6d4dfec7c6bcb36996fa65a2b45b5b0e4d985adb
