{% extends "dashboard/new-dashboard.html" %}
{% load static %}
{% block content %}
<div class="row-profile">
    <div class="column-profile">
        <div class="card-profile">
            <div class="container">
                <h2 style="color: #33258f;">lesson</h2><br>

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}


                    {% for field in lesson_form %}
                        {{field.label}}
                        {{field}}
                    {% endfor %}
                    
                    <a href="" style="float: right; font-size: 20px; margin-top: 20px;">
                        <input type="submit" class="button-profile" name="submit" value="save and add a new lesson"><br><br>
                    </a>
                </form> <a href="{% url 'Tindex'%}" style="float: right; font-size: 20px; margin-top: 20px;">
                <pclass="button-profile">Finish</p> <br><br>
            </a>
            </div>
           
        </div>
    </div>

                    
</div>


{% endblock %}