{% extends "dashboard/new-dashboard.html" %}

{% block content %}



      <div class="row-my">
        <div class="column-my">
          <div class="card-my">
            <div class="row">
              {% for course in courses %}
              <div class="column">
                  <div class="card">
                      <h3>{{course.title}}</h3><br>
                      <img src="{{ course.image.url }}" alt="Intro image" height="215px" width="100%">
                      <p> {{course.course_description}}</p><br>
                      <h2> {{course.price}} $</h2><br>
                      {% if request.user.is_authenticated %}
                      <a href="{% url 'course-description' course.id %}"><input type="button" class="enroll" value="Enroll"></a>
                      {% else %}
                      <a href="{% url 'login' %}"><input type="button" class="enroll" value="Enroll"></a>
                      {% endif %}
                  </div>
          
              </div>
              {% endfor %}
          
          
          </div>
            <a href="course-learnList.html"><input type="button" class="enroll-my" value="Continue Learning"></a>


          </div>
        </div>
        <!-- Add new column here -->



      </div><br>

{% endblock %}