{% extends "student/base_stu.html" %}
{% block content %}

<h2 style="margin-bottom: 30px; margin-top: 10px; text-align: center; color: #33258f;">{{course.title}}</h2>
            <img style="margin: 0 auto; display: block;" src="{{ course.image.url }}" alt="image" height="130px"
                width="300px"><br>
                {% for sectio in section %}
            <a href="{% url 'lesson-description' sectio.id %}">
              <h2>{{sectio}}:</h2>
              
            </a>
            <p style="text-align: left; margin-top: 10px; font-size: 17px;">
                </p><br>
                {{desc}}
                {% endfor %}
            <br>
            




            


<div class="container1">
  
  

  
  
  
    

  
</div><br>

{% endblock %}