<footer>
    <div class="legal">
        <a href="index.html" class="nav-logo"><img src="images/logo.png" width="60px"
                style="float: left; padding-right: 10px;"></a><br><br>
        <a href="www.facebook.com"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></a>
        <a href="www.whatsapp.com"></i> <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" /></a>
        <a href="www.telegram.com"></i> <img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" /></a>
        <p>Copyright © 2022 - <a href="base.html" title="SKILLZ">SKILLZ</a>. All Rights Reserved</p>
        <a target="_blank" href="https://icons8.com/icon/17842/linux">Icons by Icons8</a>

    </div>
</footer>