{% extends "student/base_stu.html" %}
{% block content %}
{% load static %}
    <div class="row-login">
      <div class="column-login">
        <div class="card-login">
          <h3 style="text-align: left; font-size: 50px; color: blue; margin-left: 70px;">Login</h3>
          <h3 style="text-align: left; font-size: 50px; color: blue; margin-left: 70px;">to your dashboard</h3>
          <div class="container">

            <form action="" method="POST">

              {% csrf_token %}
              {% if messages %}
                {% for messages in messages %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                  </svg>
                  <div type="text">
                    {{ messages }}
                  </div>
                </div>
                {% endfor %}
                {% endif %}

              <label for="user">

                <h4>User Name : </h4>
              </label>
              <input type="text" id="email" name="username" placeholder="User name" required>
              <label for="pass">
                <h4>Password: </h4>
              </label>
              <input type="password" id="pass" name="password" placeholder="Password" required><br><br>
              <input type="submit" class="button" name="submit" value="Login"><br><br>
              <div class="ac">
                <p><input type="checkbox" id="check" name="remember"> Remember Me</p><br>
                <p>Don't have an account?<a href="{% url 'register' %}">Sign up</a></p>
                <p>Forgot Password? <a href="pass-reset.html">Reset here.</a></p>
              </div>

            </form>
          </div>



        </div>
      </div>

      <div class="column-login">
        <div class="card-login" id="teens">
          {% load static %}<img src="{% static 'image/bg.jpeg' %}" alt="Teens image" height="400px">

        </div>

      </div>
    </div><br>
    {% endblock %}