{% extends "dashboard/new-dashboard.html" %}

{% block content %}




<div class="row-profile">
    <div class="column-profile">
        <div class="card-profile">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-4">


                        <div class="pp" style="  height:40%; width:50%;">
                            <a href="{% url 'Myprofile' %}"><img src="{{ request.user.profile.image.url }}"
                                    alt="user image" style=" border-radius: 50% ;" height="100%" width="100%"></i></a>

                        </div>
                        <br>
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col">
                                    {% if profile.social_github %}
                                    <a href="{{ profile.social_github }}"><img
                                            src="https://img.icons8.com/material-outlined/24/000000/github.png" /></a>

                                    {% endif %}
                                </div>

                                <div class="col">
                                    {% if profile.social_twitter%}
                                    <a href="{{ profile.socila_twitter }}"><img
                                            src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png" /></a>
                                    {% endif %}
                                </div>


                                <div class="col">
                                    {% if profile.social_linkedin %}
                                    <a href="{{ profile.socila_linkedin }} "><img
                                            src="https://img.icons8.com/ios-glyphs/30/000000/linkedin-circled--v1.png" /></a>
                                    {% endif %}
                                </div>


                                <div class="col">
                                    {% if profile.social_youtube %}
                                    <a href="{{ profile.social_youtube }}"><img
                                            src="https://img.icons8.com/material-sharp/24/000000/youtube-play.png" /></a>
                                    {% endif %}
                                </div>


                                <div class="col">
                                    <a href="{% url 'editProfile' %}"><img
                                            src="https://img.icons8.com/material-sharp/24/000000/edit--v1.png" /></a>
                                </div>
                            </div>



                        </div>


                    </div>



                    <div class="col">

                        <div class="container">
                            <h2> Name</h2>
                            <p><em>{{ profile.name }}</em></p> <br>
                            <h2> Email</h2>
                            <p><em>{{ profile.email }}</em></p><br>

                            {% if profile.bio %}
                            <h2> Bio</h2>
                            <p><em>{{ profile.bio }}</em></p><br>
                            {% endif %}


                            {% if profile.short_description %}
                            <h2> Descriptions</h2>
                            <p><em>{{ profile.short_description }} </em></p><br>
                            {% endif %}





                            <h2> </h2>
                            {% for course in courses.courses.all %}

                            <a href="{% url 'course-description' course.id %}"> <p><em>{{course}}</em></p></a>

                           
                            {% endfor %}
                            <!-- </form> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- second row -->
    <div class="row-profile">
        <div class="column-profile">
            <div class="card-profile">

            </div>
        </div>

    </div>





    <!-- end -->

    {% endblock %}