{% extends "dashboard/new-dashboard.html" %}

{% block content %}




<div class="row-profile">


    <div class="column-profile">
        <div class="card-profile">
            <div class="container">
                <button class="edit"></button>
                <a href="{% url 'editProfile' %}"><input type="submit" class="button-profile" name="submit" value="edit"><br><br>
                <a href="{% url 'Myprofile' %}"><img src="{{ request.user.profile.image.url }}" alt="user image"
                        height="115px" width="10%"></i></a>

            </div>
        </div>
    </div>


    <!-- second row -->
    <div class="row-profile">
        <div class="column-profile">
            <div class="card-profile">
                <div class="container">
                   <h3> name</h3>
                    {{ profile.name }} <br>
                    <h3> email</h3>
                    {{ profile.email }}<br>
                  
                    {% if profile.bio %}
                    <h3> bio</h3>
                    {{ profile.bio  }}
                    {% endif %}


                    {% if profile.short_description %}
                    <h3> descriptions</h3>
                    {{ profile.short_description  }} <br>
                    {% endif %}


                    {% if profile.social_github %}
                    <h3> name</h3>
                    {{ profile.social_github }} 
                    {% endif %}

                    {% if profile.social_twitter%}
                    {{ profile.socila_twitter }} 
                    {% endif %}

                    {% if profile.social_linkedin %}
                    {{ profile.socila_linkedin }} 
                    {% endif %}

                    {% if profile.social_youtube %}
                    {{ profile.social_youtube }} 
                    {% endif %}

                    <h3> courses</h3>
                    {% for course in courses.courses.all %}
                    {{course}}<br>
                   {% endfor %}
                   <!-- </form> -->
                </div>
            </div>
        </div>

    </div>

    

    
</div>
<!-- end -->

{% endblock %}