{% extends "student/base_dashboard.html" %}

{% block content %}


<div class="content">
    
    <img src="{{ request.user.profile.image.url }}" alt="user image" width="215px" height="200px">
        <div class="row-profile">
            <div class="column-profile">
                <div class="card-profile">
                    <div class="container">
                        <form action="" method="POST">
                            <label for="name">
                                <h4>Full Name: {{user.username}} </h4>
                                <input type="text" id="name" name="full_name" placeholder="Full Name" required>
                            </label>
                            <label for="email">
                                <h4>Email: </h4>
                                <input type="text" id="email" name="email" placeholder="Email" required>
                            </label>
                            <label for="desc">
                                <h4>Personal Description: </h4><br>
                                <textarea id="desc" name="desc" placeholder="Personal Description" rows="4" cols="50"
                                    required></textarea>
                            </label>                
                        </form>
                    </div>
                </div>
            </div>
    
       
            <div class="column-profile">
                <div class="card-profile">
                    <div class="container">
                        <form action="" method="POST">
                            <label for="edu">
                                <h4>Education Level: </h4>
                                <input type="text" id="edu" name="edu" placeholder="Education Level" required>
                            </label>
                            
                            <input type="button" class="button-profile" name="submit" value="Save"><br><br>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- end -->

{% endblock %}
    
        
    