{% extends "student/base_stu.html" %}
{% block content %}
{% load static %}
    <div class="row-login">
      <div class="column-login">
        <div class="card-login">
          <h3 style="text-align: left; font-size: 50px; color: blue; margin-left: 70px;">Became a</h3>
          <h3 style="text-align: left; font-size: 50px; color: blue; margin-left: 70px;">Skillz Member</h3>
          <div class="container">
            <form action="" method="POST">
              {% if messages %}
                {% for messages in messages %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                  </svg>
                  <div>
                    {{ messages }}
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              {% csrf_token %}
              

              {% for field in form %}
              
                <h4>{{field.label}}: </h4>
                
                <!-- <input type="text" id="name" name="name" placeholder="Full Name" required> -->
              </label>
              {{field}}
              
              {% for error in field.errors %}
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                  <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                  {{ error }}
                </div>
                </div>
              {% endfor %}
              {% endfor %}
              <input type="submit" class="button" name="submit" value="Register"><br><br>
              <div class="ac">
                <p><input type="checkbox" id="check" name="privacy"> I agree to the Skillz <a href="terms.pdf">Terms and
                    Conditions</a></p><br>
                <p>Already have an account? <a href="login-teach.html">login here.</a></p>

              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="column-login">
        <div class="card-login" id="teens">
          <img src='{% static "image/bg.jpeg" %}' alt="Teens image" height="400px">

        </div>

      </div>
    </div><br>
    {% endblock %}