<!DOCTYPE html>
<html>

<head>
  {% load static %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="icon" href="{% static 'image/icon.png' %}" type="image/x-icon">

  <title>Skillz E-learning | The gateway to a future career.</title>

</head>

<body>
  <header class="header">
    <div class="topnav" id="myTopnav">
      <a href="{% url 'index' %}" class="nav-logo"><img src="{% static 'image/logo.png' %}" width="60px"></a>
      <a href="{% url 'index' %}">Home</a>
      <a href="#about">How it works</a>
      <a href="#contact">Contact Us</a>
      <a href="{% url 'signup_teacher' %}">Teach on Skillz</a>

      {% if request.user.is_authenticated %}
      <div class="dropdown">
        <button class="dropbtn"><img src="https://img.icons8.com/ultraviolet/40/000000/test-account.png" /><i
            class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'Myprofile' %}">Profile</a>
          <a href="#">My Courses</a>
          <a href="{% url 'logout' %}">Log out</a>
        </div>
      </div>
      {% else %}

      <a href="{% url 'login_teacher' %}"><input type="button" class="button1" value="Sign-in"></a>
      <a href="{% url 'signup_teacher' %}"><input type="button" class="button2" value="Sign-up"></a>
      {% endif %}


      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>
  <main>
    

    <!-- add content here -->
    {% block content %}



    {% endblock %}


  </main>



  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
  <footer>
    <div class="legal">
      <a href="{% url 'index' %}"><img src="{% static 'image/logo.png' %}" width="60px"
          style="float: left; padding-right: 5px;"></a><br><br>
      <a href="www.facebook.com"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></a>
      <a href="www.whatsapp.com"></i> <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" /></a>
      <a href="www.telegram.com"></i> <img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" /></a>
      <p>Copyright © 2022 - <a href="base.html" title="SKILLZ">SKILLZ</a>. All Rights Reserved</p>
      <a target="_blank" href="https://icons8.com/icon/17842/linux">Icons by Icons8</a>

    </div>
  </footer>
</body>

</html>