{% extends "teacher/base_teacher.html" %}
{% load static %}
{% block content %}

<div class="row">

    {% for course in courses %}

    <div class="column">        
        <div class="card">         
            <h3>{{course.title}}</h3><br>
            {% if course.image %}
            <img src="{{ course.image.url }}" alt="Intro image" height="215px" width="100%">
            {% else %}
            <img src="" alt="Intro image" height="215px" width="100%">
            {% endif %}         
            
            <p> {{course.course_description|slice:'200'}}</p><br>
            <h2> {{course.price}} $</h2><br>
            {% if request.user.is_authenticated %}
            <a href="{% url 'course-description' course.id %}"><input type="button" class="enroll" value="Learn"></a>
            {% else %}
            <a href="{% url 'login' %}"><input type="button" class="enroll" value="Learn"></a>
            {% endif %}
        </div>
        
    </div>
    {% endfor %}
</div><br>

<footer>
    <div class="legal">
        <a href="{% url 'index' %}" class="nav-logo"><img src="{% static 'image/logo.png' %}" width="60px"></a>

        <a href="www.facebook.com"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></a>
        <a href="www.whatsapp.com"></i> <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" /></a>
        <a href="www.telegram.com"></i> <img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" /></a>
        <p>Copyright © 2022 - <a href="base.html" title="SKILLZ">SKILLZ</a>. All Rights Reserved</p>
        <a target="_blank" href="https://icons8.com/icon/17842/linux">Icons by Icons8</a>

    </div>
</footer>

{% endblock content %}


