{% extends "teacher/base_teacher.html" %}
{% block content %}
{% load static %}
    <div class="row-login">
      <div class="column-login">
        <div class="card-login">
          <h3 style="text-align: left; font-size: 50px; color: blue; margin-left: 70px;">Login</h3>
          <h3 style="text-align: left; font-size: 50px; color: blue; margin-left: 70px;">to your dashboard</h3>
          <div class="container">
            <form action="" method="POST">
              <label for="user">
                <h4>Email: </h4>
              </label>
              <input type="text" id="email" name="email" placeholder="Email" required>
              <label for="pass">
                <h4>Password: </h4>
              </label>
              <input type="password" id="pass" name="password" placeholder="Password" required><br><br>
              <input type="button" class="button" name="submit" value="Log in"><br><br>
              <div class="ac">
                <p><input type="checkbox" id="check" name="remember"> Remember Me</p><br>
                <p>Forgot Password? <a href="pass-reset.html">Reset here.</a></p>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="column-login">
        <div class="card-login" id="teens">
          <img src='{% static "image/bg.jpeg" %}' alt="Teens image" height="400px">

        </div>

      </div>
    </div><br>
  {% endblock %}