{% extends "dashboard/new-dashboard.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Tstyle.css' %}">

<body>

<header>

	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<!------------->
                <div class="profile-pic-wrapper">
                    <div class="pic-holder">
                      <!-- uploaded pic shown here -->
                      <img id="profilePic" class="pic" src="https://source.unsplash.com/random/150x150?person">
                  
                      <Input class="uploadProfileInput" type="file" name="profile_pic" id="newProfilePhoto" accept="image/*" style="opacity: 0;" />
                      <label for="newProfilePhoto" class="upload-file-block">
                        <div class="text-center">
                          <div class="mb-2">
                            <i class="fa fa-camera fa-2x"></i>
                          </div>
                          <div class="text-uppercase">
                            Update <br /> Profile Photo
                          </div>
                        </div>
                      </label>
                    </div>
                  
                    </hr>
                    <p class="text-info text-center small">choose a profile picture</p>
                  </div>

                  <!-- <style src = "style.css"></style> -->


                  <script>
                    $(document).on("change", ".uploadProfileInput", function () {
                        var triggerInput = this;
                        var currentImg = $(this).closest(".pic-holder").find(".pic").attr("src");
                        var holder = $(this).closest(".pic-holder");
                        var wrapper = $(this).closest(".profile-pic-wrapper");
                        $(wrapper).find('[role="alert"]').remove();
                        triggerInput.blur();
                        var files = !!this.files ? this.files : [];
                        if (!files.length || !window.FileReader) {
                          return;
                        }
                        if (/^image/.test(files[0].type)) {
                          // only image file
                          var reader = new FileReader(); // instance of the FileReader
                          reader.readAsDataURL(files[0]); // read the local file
                      
                          reader.onloadend = function () {
                            $(holder).addClass("uploadInProgress");
                            $(holder).find(".pic").attr("src", this.result);
                            $(holder).append(
                              '<div class="upload-loader"><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div>'
                            );
                      
                            // Dummy timeout; call API or AJAX below
                            setTimeout(() => {
                              $(holder).removeClass("uploadInProgress");
                              $(holder).find(".upload-loader").remove();
                              // If upload successful
                              if (Math.random() < 0.9) {
                                $(wrapper).append(
                                  '<div class="snackbar show" role="alert"><i class="fa fa-check-circle text-success"></i> Profile image updated successfully</div>'
                                );
                      
                                // Clear input after upload
                                $(triggerInput).val("");
                      
                                setTimeout(() => {
                                  $(wrapper).find('[role="alert"]').remove();
                                }, 3000);
                              } else {
                                $(holder).find(".pic").attr("src", currentImg);
                                $(wrapper).append(
                                  '<div class="snackbar show" role="alert"><i class="fa fa-times-circle text-danger"></i> There is an error while uploading! Please try again later.</div>'
                                );
                      
                                // Clear input after upload
                                $(triggerInput).val("");
                                setTimeout(() => {
                                  $(wrapper).find('[role="alert"]').remove();
                                }, 3000);
                              }
                            }, 1500);
                          };
                        } else {
                          $(wrapper).append(
                            '<div class="alert alert-danger d-inline-block p-2 small" role="alert">Please choose the valid image.</div>'
                          );
                          setTimeout(() => {
                            $(wrapper).find('role="alert"').remove();
                          }, 3000);
                        }
                      });
                      
                  </script>
                <!------------>
			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">mikiyas</h1>

				<button class="btn profile-edit-btn">Edit Profile</button>

				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">164</span> posts</li>
					<li><span class="profile-stat-count">188</span> students</li>
			
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>


		<div class="loader"></div>

	</div>
	<!-- End of container -->

</main>

<!-- <style src ="style.css"></style> -->
</body>


{% endblock %}